@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
    --main-color: #460a26;
    --pink: #d1136d;
    --gray-border: #c1c1c1;
    --gray-text: #9a9a9a;
    --gray-dark-text: #414141;
    --main-color-dark: #230514;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.center {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}

/* ----- Login / Register ----- */

.container-login {
    display: flex;
    height: 100vh;
    position: relative;
}

.container-login div {
    flex: 1;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #fff;
    background: rgb(70, 10, 38);
    background: linear-gradient(
        149deg,
        rgba(70, 10, 38, 1) 0%,
        rgba(35, 5, 20, 1) 63%
    );
}

.left h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtxt {
    max-width: 271px;
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
    text-align: center;
    margin-bottom: 25px;
}

.form-login {
    width: 271px;
}

.box-input {
    display: flex;
    flex-direction: column;
}

.box-input label {
    font-size: 13px;
    font-weight: 200;
    color: var(--gray-text);
}

.box-input input {
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.box-input input:active {
    background: transparent;
}

.btn-main {
    padding: 9px 46px 10px;
    background: #fff;
    color: var(--main-color);
    font-size: 14px;
    border: none;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.btn-main:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.txt-esqueceu {
    font-size: 13px;
    font-weight: 200;
    color: var(--gray-text);
    margin-top: 10px;
    text-align: center;
}

.txt-esqueceu a {
    color: #fff;
    text-decoration: none;
}

.txt-registro {
    position: absolute;
    bottom: 29px;

    font-size: 13px;
    font-weight: 200;
    color: var(--gray-text);
    margin-top: 10px;
    text-align: center;
}

.txt-registro a {
    color: #fff;
    text-decoration: none;
}

.txt-registro i {
    margin-right: 5px;
}

/* ----- Dashboard ----- */

.container-dash {
    display: flex;
    height: 100vh;
}

.dash-left {
    flex: 2;
    color: #fff;
    background: rgb(70, 10, 38);
    background: linear-gradient(
        149deg,
        rgba(70, 10, 38, 1) 0%,
        rgba(35, 5, 20, 1) 63%
    );
    padding: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.dash-right {
    flex: 1;
}
.dash-logo {
    width: 135px;
    margin: 0px 0 50px;
}

.dash-cam {
    width: 738px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.box-btns button {
    padding: 20px 20px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    margin-top: 20px;
    cursor: pointer;
}

.dash-right {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.header-dash {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid var(--gray-border);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-dash img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    margin-right: 10px;
}

.header-dash p {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.header-dash a {
    color: #000;
}

.box-sub {
    position: relative;
}

.sub {
    display: none;
    position: absolute;
    top: 20px;
    left: -30px;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--gray-border);
}

.sub li {
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s;
    background: #fff;
}
.sub li:hover {
    background: #ddd;
}

.sub li a {
    text-decoration: none;
}

.info-box-dash {
    padding: 50px 30px 0;
    position: relative;
}

.info-box-dash h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.g-box-dash {
    display: flex;
    margin-bottom: 5px;
}

.l-t-d {
    font-size: 14px;
    color: var(--gray-dark-text);
}

.r-t-d {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.btn-secondary {
    color: var(--main-color);
    padding: 5px 14px 7px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    transition: all 0.3s;
}

.btn-secondary:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.dash-btn {
    position: absolute;
    top: 43px;
    right: 100px;
}

/* ----- Form ----- */

.container-form {
    color: #fff;
    background: rgb(70, 10, 38);
    background: linear-gradient(
        149deg,
        rgba(70, 10, 38, 1) 0%,
        rgba(35, 5, 20, 1) 63%
    );
    height: 100vh;
    padding: 50px 0;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.container-form img {
    width: 145px;
    margin-bottom: 30px;
}

.container-form h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form-txt {
    max-width: 271px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 35px;
}

.form {
    /* max-width: 560px; */
    /* display: flex;
    flex-direction: column; */
}

.group-form {
    display: flex;
}

.b-form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10px 20px;
}

.b-form label {
    margin-left: 25px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    display: block;
}

.b-form input {
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 5px 15px;
    color: #fff;
    width: 250px;
}
